.navbar {
    background-color: #fff;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */

}

/* Links inside the navbar */
.navbar a {
float: left;
    display: block;
    color: #444;

    padding: 30px 30px;
    text-decoration: none;
}


.navbar a:hover{
  text-decoration: underline;
}


body{
  background-image: url("../image/homebg.jpg");
  background-size: cover;
background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
color:#fff;
}
main{
  text-align: center;
  }
h1 {
  margin-top: 350px;
  line-height:1;
  font-size: 300%;
  text-align: center;}
}

.btn a {
  color: #fff;
}

.row {
  font-size: 20px;

}

iframe{
  margin-top: 25px;
};


.dropa {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 85px;
    background-color: #f9f9f9;
    min-width: 260px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 120%;
}


.show {display:block;}
